<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
    <!--vue-->
    <script type="text/javascript" src="{{ url_for('static', filename='imported/vue/vue.js') }}"></script>
    <!--bootstrap-vue-->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='imported/bootstrap-vue/bootstrap.min.css') }}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='imported/bootstrap-vue/bootstrap-vue.css') }}"/>
    <script type="text/javascript"
            src="{{ url_for('static', filename='imported/bootstrap-vue/polyfill.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='imported/bootstrap-vue/bootstrap-vue.js') }}"></script>
    <!--cytoscape-->
    <script type="text/javascript"
            src="{{ url_for('static', filename='imported/cytoscape/cytoscape.min.js') }}"></script>
     <!--ace-->
    <script type="text/javascript" src="{{ url_for('static', filename='imported/ace/ace.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>AI GUI</title>
</head>
<body>
<div id="app">
    <b-navbar toggleable="md" type="dark" variant="dark">
        <b-navbar-nav>
            <b-navbar-brand href="#">
                <b-img src="{{ url_for('static', filename='images/brain.svg') }}"
                       alt="logo" style="height:35px;"></b-img>
            </b-navbar-brand>
            <b-btn v-b-toggle.created-elements class="m-1" variant="warning" v-b-tooltip.hover
                   title="toggle created elements">
                <b-img src="{{ url_for('static', filename='images/navbar/linode.svg') }}"
                       alt="console" style="height:20px;"></b-img>
            </b-btn>
            <b-btn v-b-toggle.console class="m-1" variant="danger" v-b-tooltip.hover title="toggle console">
                <b-img src="{{ url_for('static', filename='images/navbar/terminal.svg') }}"
                       alt="console" style="height:20px;"></b-img>
            </b-btn>
            <b-btn v-b-toggle.info class="m-1" v-b-tooltip.hover title="toggle info">
                <b-img src="{{ url_for('static', filename='images/navbar/info.svg') }}"
                       alt="info" style="height:20px;"></b-img>
            </b-btn>
            <b-btn v-b-toggle.pycode class="m-1" variant="success" v-b-tooltip.hover title="toggle python code">
                <b-img src="{{ url_for('static', filename='images/navbar/laptop-code.svg') }}"
                       alt="python code" style="height:20px;"></b-img>
            </b-btn>
            <b-btn v-b-toggle.htmlcode class="m-1" variant="primary" v-b-tooltip.hover title="toggle html code">
                <b-img src="{{ url_for('static', filename='images/navbar/code.svg') }}"
                       alt="html code" style="height:20px;"></b-img>
            </b-btn>
            <b-btn v-b-toggle.jscode class="m-1" variant="danger" v-b-tooltip.hover title="toggle javascript code">
                <b-img src="{{ url_for('static', filename='images/navbar/js-square.svg') }}"
                       alt="javascript code" style="height:20px;"></b-img>
            </b-btn>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
            <b-nav-item right>
                <b-nav-form>
                    <b-form-input list="graph_name" v-model="graph_name" type="text"
                                  v-b-tooltip.hover title="graph name"
                                  alt="graph name" placeholder="Enter Graph Name"></b-form-input>
                    <datalist id="graph_name">
                        <option v-for="name in all_graphs_names" :value="name">
                    </datalist>
                    <b-btn @click="save" class="m-1" variant="primary" v-b-tooltip.hover title="save">
                        <b-img src="{{ url_for('static', filename='images/navbar/cloud-upload-alt.svg') }}"
                               alt="html code" style="height:20px;"></b-img>
                    </b-btn>
                    <b-btn @click="load" class="m-1" variant="primary" v-b-tooltip.hover title="load">
                        <b-img src="{{ url_for('static', filename='images/navbar/cloud-download-alt.svg') }}"
                               alt="html code" style="height:20px;"></b-img>
                    </b-btn>
                    <b-btn @click="play" class="m-1" variant="success" v-b-tooltip.hover title="play">
                        <b-img src="{{ url_for('static', filename='images/navbar/caret-square-right.svg') }}"
                               alt="html code" style="height:20px;"></b-img>
                    </b-btn>
                </b-nav-form>
            </b-nav-item>
        </b-navbar-nav>
    </b-navbar>
    <b-container fluid id="work_area">
        <b-row>
            <b-col cols="8">
                <b-card header="Graph" header-bg-variant="primary" header-text-variant="white" id="cy-card">
                    <div id="cy"></div>
                </b-card>
            </b-col>
            <b-col id="right-col">
                <b-collapse visible id=general>
                    <b-card header="General">
                        <b-btn @click="fit_cy" v-b-tooltip.hover title="fit to screen">
                            <b-img src="{{ url_for('static', filename='images/general/arrows-alt.svg') }}"
                                   alt="fit" style="height:20px;"></b-img>
                        </b-btn>
                        <b-btn @click="add_node_cy" v-b-tooltip.hover title="add node">
                            <b-img src="{{ url_for('static', filename='images/general/plus-square.svg') }}"
                                   alt="add" style="height:20px;"></b-img>
                        </b-btn>
                        <b-btn @click="add_edge_left_cy" v-b-tooltip.hover title="connect two selcected nodes">
                            <b-img src="{{ url_for('static', filename='images/general/long-arrow-alt-left.svg') }}"
                                   alt="connect" style="height:20px;"></b-img>
                        </b-btn>
                        <b-btn @click="add_edge_right_cy" v-b-tooltip.hover title="connect two selcected nodes">
                            <b-img src="{{ url_for('static', filename='images/general/long-arrow-alt-right.svg') }}"
                                   alt="connect" style="height:20px;"></b-img>
                        </b-btn>
                        <b-btn @click="remove_cy" v-b-tooltip.hover title="remove selected nodes">
                            <b-img src="{{ url_for('static', filename='images/general/minus-square.svg') }}"
                                   alt="remove" style="height:20px;"></b-img>
                        </b-btn>
                    </b-card>
                </b-collapse>
                <b-collapse id="created-elements" class="mt-2">
                    <b-card header-bg-variant="warning">
                        <b-navbar slot="header" style="padding: 0px;">
                            <b-navbar-nav>
                                <b-navbar-brand style="padding: 0px;">Created Elements</b-navbar-brand>
                            </b-navbar-nav>
                            <b-navbar-nav style="padding: 0px;">
                                <b-nav-item right style="padding: 0px;">
                                    <b-btn :disabled="!element_selected" @click="save_node" variant="secondary"
                                           v-b-tooltip.hover title="save node">
                                        <b-img src="{{ url_for('static', filename='images/created_nodes/codepen.svg') }}"
                                               alt="html code" style="height:20px;"></b-img>
                                    </b-btn>
                                </b-nav-item>
                            </b-navbar-nav>
                        </b-navbar>
                        <div>
                            <b-btn v-for="n in saved_nodes" class="m-1" @click="get_saved_node_cy($event)"
                                   variant="secondary" :id="n" :key="n">
                                #{n}
                            </b-btn>
                        </div>
                    </b-card>
                </b-collapse>
                <b-collapse visible id=console class="mt-2">
                    <b-card header-bg-variant="danger">
                        <b-navbar slot="header" style="padding: 0px;">
                            <b-navbar-nav>
                                <b-navbar-brand style="padding: 0px;">Console</b-navbar-brand>
                            </b-navbar-nav>
                            <b-navbar-nav style="padding: 0px;">
                                <b-nav-item right style="padding: 0px;">
                                    <b-btn @click="console_message=''" variant="secondary"
                                           v-b-tooltip.hover title="clear console message">
                                        <b-img src="{{ url_for('static', filename='images/trash-alt.svg') }}"
                                               alt="html code" style="height:20px;"></b-img>
                                    </b-btn>
                                </b-nav-item>
                            </b-navbar-nav>
                        </b-navbar>
                        <pre>#{ console_message }</pre>
                    </b-card>
                </b-collapse>
                <b-collapse visible id=info class="mt-2">
                    <b-card header="Info">
                        <b-navbar slot="header" style="padding: 0px;">
                            <b-navbar-nav>
                                <b-navbar-brand style="padding: 0px;">Info</b-navbar-brand>
                            </b-navbar-nav>
                            <b-navbar-nav style="padding: 0px;">
                                <b-nav-item right style="padding: 0px;">
                                    <b-btn :disabled="!element_selected&&!edge_selected" @click="update_element_cy"
                                           variant="secondary"
                                           v-b-tooltip.hover title="apply">
                                        <b-img src="{{ url_for('static', filename='images/info/check.svg') }}"
                                               alt="html code" style="height:20px;"></b-img>
                                    </b-btn>
                                </b-nav-item>
                            </b-navbar-nav>
                        </b-navbar>
                        <b-container class="bv-example-row" v-if="edge_selected">
                            <b-row>
                                <b-col>
                                    <p>id: #{ edge_data.id }</p>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <label>faveColor:</label>
                                </b-col>
                                <b-col cols="8">
                                    <b-form-input v-model="edge_data.faveColor" type="color"
                                                  placeholder="Enter fave color"></b-form-input>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col>
                                    <label>mapVariable:</label>
                                </b-col>
                                <b-col cols="8">
                                    <b-form-input v-model="edge_data.mapVariable" type="text"
                                                  placeholder="Enter variable map"></b-form-input>
                                </b-col>
                            </b-row>
                        </b-container>
                        <div v-else-if="element_selected">
                            <b-container class="bv-example-row">
                                <b-row>
                                    <b-col>
                                        <p>id: #{ element_data.id }</p>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>
                                        <label>name:</label>
                                    </b-col>
                                    <b-col cols="8">
                                        <b-form-input v-model="element_data.name" type="text"
                                                      placeholder="Enter node name"></b-form-input>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>
                                        <label>faveColor:</label>
                                    </b-col>
                                    <b-col cols="8">
                                        <b-form-input v-model="element_data.faveColor" type="color"
                                                      placeholder="Enter fave color"></b-form-input>
                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>
                                        <label>faveShape:</label>
                                    </b-col>
                                    <b-col cols="8">
                                        <b-form-select v-model="element_data.faveShape" :options="normal_shapes"/>
                                    </b-col>
                                </b-row>
                            </b-container>
                            <hr>
                            <html-custom id="html" :legacy-system-html="element_data.htmlCode"></html-custom>
                        </div>
                        <div v-else>
                            <p>No element selected</p>
                        </div>
                    </b-card>
                </b-collapse>
                <b-collapse id=pycode class="mt-2">
                    <b-card header-bg-variant="success" header-text-variant="white">
                        <b-navbar slot="header" style="padding: 0px;">
                            <b-navbar-nav>
                                <b-navbar-brand style="padding: 0px;">Python Code</b-navbar-brand>
                            </b-navbar-nav>
                            <b-navbar-nav style="padding: 0px;">
                                <b-nav-item right style="padding: 0px;">
                                    <b-btn :disabled="!element_selected" @click="update_element_cy" variant="secondary"
                                           v-b-tooltip.hover title="save">
                                        <b-img src="{{ url_for('static', filename='images/code/save.svg') }}"
                                               alt="html code" style="height:20px;"></b-img>
                                    </b-btn>
                                </b-nav-item>
                            </b-navbar-nav>
                        </b-navbar>
                        <div v-if="!element_selected">
                            <p>No element selected</p>
                        </div>
                        <div @keydown.tab.prevent="prevent_tab_py($event)" v-else>
                            <xeditor v-model="element_data.pyCode" lang="python" theme="dracula" rows="8"
                                             placeholder="Enter python code" @x-editor-update="on_python_editor_update">
                            </xeditor>
                        </div>
                    </b-card>
                </b-collapse>
                <b-collapse id=htmlcode class="mt-2">
                    <b-card header-bg-variant="primary" header-text-variant="white">
                        <b-navbar slot="header" style="padding: 0px;">
                            <b-navbar-nav>
                                <b-navbar-brand style="padding: 0px;">HTML Code</b-navbar-brand>
                            </b-navbar-nav>
                            <b-navbar-nav style="padding: 0px;">
                                <b-nav-item right style="padding: 0px;">
                                    <b-btn :disabled="!element_selected" @click="update_element_cy" variant="secondary"
                                           v-b-tooltip.hover title="save">
                                        <b-img src="{{ url_for('static', filename='images/code/save.svg') }}"
                                               alt="html code" style="height:20px;"></b-img>
                                    </b-btn>
                                </b-nav-item>
                            </b-navbar-nav>
                        </b-navbar>
                        <div v-if="!element_selected">
                            <p>No element selected</p>
                        </div>
                        <div @keydown.tab.prevent="prevent_tab_html($event)" v-else>
                            <xeditor v-model="element_data.htmlCode" lang="html" theme="dracula" rows="8"
                                             placeholder="Enter hrml code" @x-editor-update="on_html_editor_update">
                            </xeditor>
                        </div>
                    </b-card>
                </b-collapse>
                <b-collapse id=jscode class="mt-2">
                    <b-card header-bg-variant="danger" header-text-variant="white">
                        <b-navbar slot="header" style="padding: 0px;">
                            <b-navbar-nav>
                                <b-navbar-brand style="padding: 0px;">Javascript Code</b-navbar-brand>
                            </b-navbar-nav>
                            <b-navbar-nav style="padding: 0px;">
                                <b-nav-item right style="padding: 0px;">
                                    <b-btn :disabled="!element_selected" @click="update_element_cy" variant="secondary"
                                           v-b-tooltip.hover title="save">
                                        <b-img src="{{ url_for('static', filename='images/code/save.svg') }}"
                                               alt="javascript code" style="height:20px;"></b-img>
                                    </b-btn>
                                </b-nav-item>
                            </b-navbar-nav>
                        </b-navbar>
                        <div v-if="!element_selected">
                            <p>No element selected</p>
                        </div>
                        <div @keydown.tab.prevent="prevent_tab_js($event)" v-else>
                            <xeditor v-model="element_data.jsCode" lang="javascript" theme="dracula" rows="8"
                                             placeholder="Enter js code" @x-editor-update="on_js_editor_update">
                            </xeditor>
                        </div>
                    </b-card>
                </b-collapse>
            </b-col>
        </b-row>
    </b-container>
</div>
</body>
</html>